body {
  background-color: #ccc; }

.container {
  width: 80%;
  min-width: 600px;
  text-align: center; }

p {
  padding: 10px;
  width: 40%;
  margin: 10px auto;
  background-color: #bbb; }

/*# sourceMappingURL=style.css.map */
